# k-nearest neighbors

# Q1. k-nearest neightbors を用いたクラス分類について調べ、<br>そのアルゴリズムについて説明せよ。

# A1.

## k-nearest neightborsとは

- n次元空間に存在するデータを使い新しいデータにラベル名をつける教師あり学習である。  
- n次元空間に存在するデータはラベル(データ名)と位置情報を元に領域が分かれている。  
- n次元空間に新しくラベルを持たないデータを入れた時、  
  新しいデータから最も近いk個のデータを見つけ、多数決により新しいデータのラベル名を決める。  
  
以上が、  
k-nearest neightborsを用いたクラス分類である。  

引用：https://ja.wikipedia.org/wiki/K%E8%BF%91%E5%82%8D%E6%B3%95

<img src="images/k-nn.png">

# k-nearest neightborsのアルゴリズムについて

k-nearest neightborsを解く為に必要な手順は以下。    
**1. 新しく入るデータと既存データとの距離の測り方**  
**2. 新しいデータが所属するグループを決める方法**  
**3. k個のデータ数を決める方法**  

1,2,3を解決することでk-nearest neightborsの問題を解くことができる。

## 1. 新しく入るデータと既存データとの距離の測り方

距離の測り方の一つにユーグリット距離がある。  
**ユーグリット距離とは**次元空間において二点間を最短距離で線形に測る方法。  
以下の図にある様に**二次元**の場合の距離の測り方は  
<img src="images/euclidean_1.png">

n次元になると以下の様にして求めることができる。
<img src="images/euclidean_2.png">

<img src="images/euclidean.png">

引用：https://ja.wikipedia.org/wiki/%E3%83%A6%E3%83%BC%E3%82%AF%E3%83%AA%E3%83%83%E3%83%89%E8%B7%9D%E9%9B%A2

## 2. 新しいデータが付けるラベルを決める方法

- 新しいデータ点を入れた場所からユーグリット距離を測る。  
- 新しいデータ点から最も近いk個のデータが持つラベルの最も多いグループのラベル名を付ける。  
この時、k個の個数だけに依存しており、選ばれたk個それぞれが新しいデータ点からの距離には意味を持たない。

## 3. k個のデータ数を決める方法

- k個の数を決める方法は既存データの数に依存する。  
- 指定する方法のひとつに、既存データ数の平方根をとり求めた数を使う。  
- 何パターンかkの個数を変えて学習させ、検証結果の精度で判断する。

# Q2. 上述のアルゴリズムを Numpy を用いて実装し、Iris データに適用せよ。

# A2.

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import scipy

iris = load_iris()

In [2]:
iris.target  # irisデータセットのラベルを確認

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [3]:
iris.feature_names  # irisデータセットに記載されているデータの名前

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
# irisデータをdataframeへ(カラム名はデータセットについている花弁とガクの長さと幅)
df = pd.DataFrame(
    iris.data,
    columns = iris.feature_names
)
df["label"] = iris.target  # irisデータセットにあるラベルを列を追加

In [5]:
df = df.sample(frac=1).reset_index(drop=True)  # irisデータをシャッフルし、インデックスを0から順に直す

In [6]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,4.8,3.0,1.4,0.3,0
1,5.0,3.3,1.4,0.2,0
2,6.9,3.1,5.4,2.1,2
3,5.7,2.8,4.1,1.3,1
4,4.9,2.4,3.3,1.0,1

In [7]:
df.shape

(150, 5)

In [8]:
dist = scipy.spatial.distance.pdist(df, metric='euclidean')

In [9]:
dist.shape

(11175,)

In [10]:
150*149/2

11175.0

In [11]:
"""全データがそれぞれのデータ対しての距離を出す(150 x 150 種類)"""
square_matrix = scipy.spatial.distance.squareform(scipy.spatial.distance.pdist(df, metric='euclidean'))  # 正方行列取得(対角成分も含まれる)

In [12]:
for i in range(150):
    label = 'distance_%s' % i
    df[label] = square_matrix[i]

In [13]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,distance_0,distance_1,distance_2,distance_3,distance_4,...,distance_140,distance_141,distance_142,distance_143,distance_144,distance_145,distance_146,distance_147,distance_148,distance_149
0,4.8,3.0,1.4,0.3,0,0.000000,0.374166,5.259278,3.184337,2.338803,...,3.847077,3.827532,0.640312,3.950949,3.674235,3.120897,3.728270,4.232021,3.385262,4.810405
1,5.0,3.3,1.4,0.2,0,0.374166,0.000000,5.221111,3.200000,2.463737,...,3.834058,3.866523,0.300000,3.928104,3.668787,3.196873,3.685105,4.243819,3.426368,4.839421
2,6.9,3.1,5.4,2.1,2,5.259278,5.221111,0.000000,2.204541,3.333167,...,1.630951,1.862794,5.241183,1.500000,1.737815,2.489980,1.720465,1.519868,2.240536,1.216553
3,5.7,2.8,4.1,1.3,1,3.184337,3.200000,2.204541,0.000000,1.236932,...,0.734847,0.900000,3.260368,0.964365,0.547723,0.547723,0.836660,1.090871,0.424264,1.794436
4,4.9,2.4,3.3,1.0,1,2.338803,2.463737,3.333167,1.236932,0.000000,...,1.951922,1.849324,2.588436,2.158703,1.774824,0.974679,2.002498,2.213594,1.284523,2.677686

In [14]:
label_dict = {}
for j in range(150):
    sort_label = 'distance_%s' % j
    label_dict[sort_label] = df.sort_values(by=sort_label)[1:6]['label']

In [15]:
label_dict['distance_1']  # 自分自身を除く一番近いラベル5個をそれぞれ取得 , 例として'distance_1'を表示

98     0
118    0
50     0
109    0
41     0
Name: label, dtype: int64

In [16]:
from collections import Counter

In [17]:
list(Counter(label_dict['distance_1']))[0]

0

In [18]:
prediction_result = {}
for v in range(150):
    predict_label = 'distance_%s' % v
    prediction_result[v] = list(Counter(label_dict[predict_label]))[0]

In [22]:
# prediction_result  # 予測結果をまとめる

In [21]:
comparison_value = 0
for pred, correct in zip(prediction_result.values(), df['label']):
    comparison_value+= abs(pred - correct)
comparison_value   # 比較した結果　間違いはなし！？

0